body {
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* center horizontally */
}

main {
  flex: 1;
  /* takes remaining space */
}
