@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* center horizontally */
}

main {
  flex: 1;
  /* takes remaining space */
}

.banner {
  margin: 0;
  padding: 1.5rem 0;
}

.banner img {
  width: 100%;
  height: clamp(200px, 18vw, 420px);
  object-fit: cover;
  display: block;
}
